<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <Identity Name="100B7A24.oxyna"
            Publisher="CN=533468C5-80BB-4C4F-95E4-BAE5AC5567D0"
            Version="1.0.7.0" />
  
  <TitleId>78A72674</TitleId>

  <ExecutableList>
    <Executable Name="pso2_bin/pso2.exe"
                Id="Game"
                OverrideDisplayName="Phantasy Star Online 2"
                />
  </ExecutableList>

  <!-- The following asset sizes apply
       StoreLogo - 100x100
       Square150x150Logo - 150x150
       Square44x44Logo - 44x44
       SplashScreenImage - 1920x1080 or 3840x2160
  -->
  <ShellVisuals DefaultDisplayName="Phantasy Star Online 2" 
                PublisherDisplayName="株式会社セガゲームス"
                StoreLogo="pso2_bin/StoreLogo.png"
                Square150x150Logo="pso2_bin/Logo.png"
                Square44x44Logo="pso2_bin/SmallLogo.png"
                Description="Phantasy Star Online 2"
                BackgroundColor="#464646"
                SplashScreenImage="pso2_bin/SplashScreen.png"/>
  <DesktopRegistration>
    <ModFolder Name="pso2_bin"/>
    <DependencyList>
	  <Dependency Name="Microsoft.DirectXRuntime" MinVersion="9.29.952.0"/>
      <Dependency Name="Microsoft.VCLibs.140.00.UWPDesktop" MinVersion="14.0.24217.0"/> 
    </DependencyList>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
  </DesktopRegistration>
  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="ja-JP"/>
  </Resources>
  
  
  <ExtendedAttributeList>
    <ExtendedAttribute Name="RestrictedCapability" Value="allowElevation"/>
  </ExtendedAttributeList>

</Game>

